<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GitHub Battle</title>
</head>
<body>
    <h1>GitHub Battle!</h1>
    

    <form action="/battle" method="POST">
        Github Username #1:<br>
        <input type="text" name="player1"><br>
        Github Username #2:<br>
        <input type="text" name="player2"><br>
        <button>Battle!</button>
    </form>
    
</body>
</html>